SERVER_PORT=8080
SPRING_APPLICATION_NAME=BtgPactualFundsApi
SPRING_PROFILES_INCLUDE=
AWS_REGION=us-east-1
DYNAMODB_ENDPOINT=
NOTIFICATIONS_TOPIC_ARN=arn:aws:sns:us-east-1:123456789012:btg-funds-api-dev-notifications
CLIENTS_TABLE=btg-funds-api-dev-clients
FUNDS_TABLE=btg-funds-api-dev-funds
SUBSCRIPTIONS_TABLE=btg-funds-api-dev-subscriptions
TRANSACTIONS_TABLE=btg-funds-api-dev-transactions
